---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/pages/Hero.astro";
import Header from "../components/pages/Header.astro";
import Footer from "../components/pages/Footer.astro";
import images from "../data/allImages";
import TabNavigationImages from "../components/TabNavigationImages";

const bigImages = images.map((image) => image.bigImages);
const smallImages = images.map((image) => image.smallImages);
const hrefs = images.map((image) => image.href);
const title = "Lo Que Hemos Creado";
const description = "Sitios web diseñados para destacar y crecer.";
---

<Layout>
  <main class="max-w-[1280px] mx-auto w-full px-3 sm:px-4">
    <Header />
    <Hero />
    <TabNavigationImages
      client:only
      title={title}
      description={description}
      bigImages={bigImages}
      smallImages={smallImages}
      hrefs={hrefs}
    />
    <Footer />
  </main>
</Layout>
